{% extends 'home\index.html'%}



{% block body %}
<div class="about">
	<div class="container">
		<h3 class="tittle">ABOUT</h3>
		<div class="col-md-5 about-grid-left text-center">
			<img src="images/6.jpg" alt=""/>
		</div>
		<div class="col-md-7 about-grid">
							<h4>NEQUE PORRO QUISQUAM EST, QUI </h4>
							<p>Sed ut perspiciatis unde omnis iste natus error sit 
							voluptatem accusantium doloremque laudantium, totam rem aperiam, 
							eaque ipsa quae ab illo inventore veritatis et numquam eius modi 
							tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
							Ut enim ad minima veniam, quis nostrum</p>
							<p>numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
							Ut enim ad minima veniam, quis nostrum exercitation modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
							Ut enim ad minima veniam, quis</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--about-bottom-->
<div class="about-bottom">
		<div class="container">
			<div class="about-bottom-grids">
				<div class="col-md-7 about-bottom-grid-left">
					<h3 class="tittle t-two">OUR TREATMENTS</h3>
					<h4>OPTIO CUMQUE NIHIL IMPEDIT QUO MINUS ID QUOD MAXIME PLACEAT 
						FACERE POSSIMUS, OMNIS VOLUPTAS ASSUMENDA EST, OMNIS</h4>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
						consectetur, adipisci velit, sed quia non numquam eius modi tempora 
						incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
						suscipit laboriosam.</p>
				</div>
				<div class="col-md-5 about-bottom-grid-right">
					<h3 class="tittle t-two">Testimonials</h3>
					<div class="about-bottom-grid-right-grid">
						<div class="about-bottom-grid-right-grdl">
							<img src="images/bbb.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="about-bottom-grid-right-grdr">
							<p><span>N</span>eque porro quisquam est, 
								qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
								sed quia non numquam eius modi.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="about-bottom-grid-right-grid">
						<div class="about-bottom-grid-right-grdl">
							<img src="images/ccc.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="about-bottom-grid-right-grdr">
							<p><span>R</span>eque porro quisquam est, 
								qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
								sed quia non numquam eius modi.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!--//about-bottom-->
<!-- contact -->
{% endblock body %}
